#centralwidget {
    background: qradialgradient(
        cx: 0.5, cy: 0.5,
        radius: 0.8,
        fx: 0.5, fy: 0.5,
        stop: 0.0 %SECONDARY%,
        stop: 0.8 %S_HOVER%
    );
}

#gameName {
        background: transparent;
        border: none;
        color: %PRIMARY%;
}
