QPushButton {
	background: %PRIMARY%;
	border: none;
	border-radius: %RADIUS%px;
	padding: 4px 8px;
	color: %SECONDARY%;
}

QPushButton:hover {
	background: %P_HOVER%;
	color: %S_HOVER%;
}

QPushButton:pressed {
	background: %P_HOVER%;
	color: %S_HOVER%;
}

